* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 0px 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  text-indent: 0px;
}
.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-small {
  background-color: none;
  font-size: 20px;
  font-weight: 600;
}
.heading {
  width: 75%;
  font-weight: 600;
  text-transform: capitalize;
}
.double-header {
  border-collapse: collapse;
  background-color: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.content {
  background-color: none;
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: none;
  text-align: justify;
}
.footer {
  background-color: none;
  border-top: 1px solid gray;
}
p {
    margin: 0px;
    padding-bottom: 10px;
}
.date {
    text-align: end;
    font-style: italic;
}
.last-p {
    padding-bottom: 20px;
}
a:link {
    color: darkred;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: deeppink;
    text-decoration: none;
}