* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.container {
    margin: 0px;
}
header {
    background-color: yellow;
    padding: 30px;
}
.col-7 {
    justify-content: start;
}
.col-7 > div > div {
    display: inline-block;
}
.col-1 {
    background-color: lime;
}
.col-5 > div > div {
    display: inline-block;
}
.col-sm {
    width: 80px;
    background-color: lime;
    text-align: center;
    margin-left: 5%;
}
.col-sm:first-child {
    background-color: magenta;
}
.calendar {
    display: inline-flexbox;
    width: 20%;
}
.content {
    display: inline-block;
    width: 79%;
}