* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
p {
    margin: 0px;
}
header {
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    height: 50px;
}
.main-header {
    background-color: royalblue;
    float: left;
    width: 60%;
}
.image {
    float: left;
}
.name {
    float: left;
    font-size: 20px;
}
.whats-this {
    float: left;
}
nav{
    justify-content: space-between;
}
.button {
    float: left;
    background-color: white;
    border: none;
}
.button1 {
    float: left;
    padding-left: 50px;
}
